---
layout: "layout.html"
---

<section>
  <section class="page-heading border-b border-stone-200">
    <div class="max-w-default mx-auto pb-12 pt-24">
      <div class="mx-4 clg:mx-auto">
        <h1>{{ title }}</h1>
        <p class="text-stone-600 description">{{ description }}</p>
      </div>
    </div>
  </section>
</section>

{% if content %}
<div class="max-w-default mx-auto mt-12">
  <div class="mx-4 clg:mx-auto">{{ content }}</div>
</div>
{% endif %}

<section class="blog max-w-default mx-auto my-24">
  <div class="mx-4 clg:mx-auto">
    <h2 class="mb-12">All Posts</h2>

    <h3 class="date mb-6">2024</h3>
    {% assign all_posts_2024 = collections.post | reverse %}
    <ul class="mb-24">
      {% for post_2024 in all_posts_2024 %} {% assign year2024 = post_2024.date
      | justYear:2024 %} {% if year2024 == "2024" %}
      <li><a href="{{ post_2024.url }}">{{ post_2024.data.title }}</a></li>
      {% endif %} {% endfor %}
    </ul>

    <h3 class="date mb-6">2023</h3>
    {% assign all_posts_2023 = collections.post | reverse %}
    <ul class="mb-24">
      {% for post_2023 in all_posts_2023 %} {% assign year2023 = post_2023.date
      | justYear:2023 %} {% if year2023 == "2023" %}
      <li><a href="{{ post_2023.url }}">{{ post_2023.data.title }}</a></li>
      {% endif %} {% endfor %}
    </ul>

    <h3 class="date mb-6">2022</h3>
    {% assign all_posts_2022 = collections.post | reverse %}
    <ul class="mb-24">
      {% for post_2022 in all_posts_2022 %} {% assign year2022 = post_2022.date
      | justYear:2022 %} {% if year2022 == "2022" %}
      <li><a href="{{ post_2022.url }}">{{ post_2022.data.title }}</a></li>
      {% endif %} {% endfor %}
    </ul>

    <h3 class="date mb-6">2021</h3>
    {% assign all_posts_2021 = collections.post | reverse %}
    <ul class="mb-24">
      {% for post_2021 in all_posts_2021 %} {% assign year2021 = post_2021.date
      | justYear:2021 %} {% if year2021 == "2021" %}
      <li><a href="{{ post_2021.url }}">{{ post_2021.data.title }}</a></li>
      {% endif %} {% endfor %}
    </ul>

    <h3 class="date mb-6">2020</h3>
    {% assign all_posts_2020 = collections.post | reverse %}
    <ul class="mb-24">
      {% for post_2020 in all_posts_2020 %} {% assign year2020 = post_2020.date
      | justYear:2020 %} {% if year2020 == "2020" %}
      <li><a href="{{ post_2020.url }}">{{ post_2020.data.title }}</a></li>
      {% endif %} {% endfor %}
    </ul>
  </div>
</section>
