---
layout: layout.html
---

<div>{{ content }}</div>

<section>
  <div class="max-w-default mx-4 pb-10 pt-20 sm:py-24 clg:mx-auto">
    <h2 class="mb-8" id="recent-posts">Recent Posts</h2>
    <p class="mb-12">
      Here are a few of my most recent posts. I like to write about tech, my
      hobbies, and whatever else is on my mind. For a full list of my posts,
      check out my
      <a href="/blog/">blog page</a>.
    </p>

    {% assign recent_posts = collections.post | reverse %}
    <ul
      class="mt-12 ml-6 sm:ml-12 list-disc list-outside"
      aria-labelledby="recent-posts"
    >
      {% for post in recent_posts limit:4 %}
      <li>
        <a href="{{ post.url }}">{{ post.data.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
