<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="{% if description %}{{
        description
      }}{% else %}Casey Ocampo{% endif %}"
    />
    <title>{{ title | default : "Casey Ocampo" }}</title>
    <link
      href="/assets/fonts/IBMPlexSans-Bold.ttf"
      rel="preload"
      as="font"
      crossorigin
    />
    <link
      href="/assets/fonts/IBMPlexSans-BoldItalic.ttf"
      rel="preload"
      as="font"
      crossorigin
    />
    <link
      href="/assets/fonts/IBMPlexSans-SemiBold.ttf"
      rel="preload"
      as="font"
      crossorigin
    />
    <link
      href="/assets/fonts/IBMPlexSans-Regular.ttf"
      rel="preload"
      as="font"
      crossorigin
    />
    <link
      href="/assets/fonts/IBMPlexSans-Italic.ttf"
      rel="preload"
      as="font"
      crossorigin
    />
    <link
      href="/assets/fonts/IBMPlexMono-Regular.ttf"
      rel="preload"
      as="font"
      crossorigin
    />
    <link href="/assets/output.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/icons/favicon-512.png" />
    <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png" />
  </head>
  <header class="px-4 py-6 border-b border-stone-200">
    <div class="w-full m-auto sm:max-w-default">
      <nav class="flex-col flex sm:flex-row sm:items-center">
        <div class="flex w-full justify-between mb-2 sm:mb-0">
          <a href="/" class="site-title flex items-center gap-0 sm:gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              class="fill-orange-600 h-10 w-10"
            >
              <path d="M13 10H20L11 23V14H4L13 1V10Z"></path>
            </svg>
            Casey Ocampo
          </a>
          <button
            id="menu-btn"
            class="block border border-stone-300 py-2 px-3 rounded-md text-2xl sm:hidden"
            aria-expanded="false"
          >
            Menu
          </button>
        </div>
        <ul id="menu-list" class="hidden mt-8 ml-0.5 sm:mt-0 sm:flex sm:gap-6">
          <li>
            <a href="/about/" class="nav-link w-full block mb-4 sm:mb-0"
              >About</a
            >
          </li>
          <li>
            <a href="/blog/" class="nav-link w-full block mb-4 sm:mb-0">Blog</a>
          </li>
          <li>
            <a href="/contact/" class="nav-link w-full block mb-4 sm:mb-0"
              >Contact</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    <div class="p-0">{{ content }}</div>
  </main>
  <footer class="px-4 pb-8 border-t border-stone-200">
    <div class="block sm:flex sm:justify-between max-w-default mx-auto">
      <section class="w-full sm:w-1/2 mx-auto">
        <h2 class="mt-24 mb-12 sm:my-24">Menu</h2>
        <ul class="flex flex-col mb-12 sm:mb-24">
          <li><a href="/">Home</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/contact/">Contact</a></li>
        </ul>
      </section>
      <section class="w-full sm:w-1/2 mx-auto">
        <h2 class="mt-24 mb-12 sm:my-24">Connect with me</h2>
        <ul class="flex flex-col mb-12 sm:mb-24">
          <li>
            <a href="https://www.linkedin.com/in/caseyocampo/" target="_blank"
              >LinkedIn
              <span aria-label="- opens in a new tab">&#x2197;</span></a
            >
          </li>
          <li>
            <a href="https://github.com/caseyocampo" target="_blank"
              >GitHub <span aria-label="- opens in a new tab">&#x2197;</span></a
            >
          </li>
        </ul>
      </section>
    </div>
    <section
      class="max-w-default mx-auto block items-center gap-x-4 mt-8 clg:flex"
    >
      <p class="py-4">Casey Ocampo © 2024</p>
      <span aria-hidden="true" class="hidden clg:inline-block">|</span>
      <p>
        <a href="/accessibility-statement/">Accessibility Statement</a>
      </p>
      <p>
        <a href="/affiliate-disclosure/">Affiliate Disclosure</a>
      </p>
    </section>
  </footer>
  <script src="/main.js"></script>
</html>
