<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="{% if description %}{{ description }}{% else %}Casey Ocampo{% endif %}"
    />
    <title>{{ title | default: 'Casey Ocampo' }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link href="/assets/output.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/icons/favicon-512.png" />
    <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png" />
  </head>
  <header class="bg-gray-100 py-2 px-4 border">
    <div class="flex max-w-4xl justify-between items-center m-auto">
      <p class="font-bold flex">
        <a href="/" class="no-underline text-3xl site-title">Casey Ocampo</a>
      </p>
      <nav>
        <ul class="flex gap-4">
          <li><a href="/about/">About</a></li>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/contact/">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main class="bg-gray-100 p-4">
    <div class="max-w-4xl mx-auto p-0">{{ content }}</div>
  </main>
  <footer class="bg-gray-100">
    <section class="max-w-4xl mx-auto">
      <p class="py-4">© Casey Ocampo</p>
    </section>
  </footer>
</html>
