@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IBMPlexSansBold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/IBMPlexSans-Bold.ttf");
}

@font-face {
  font-family: "IBMPlexSansBold";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/IBMPlexSans-BoldItalic.ttf");
}

@font-face {
  font-family: "IBMPlexSansSemiBold";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/IBMPlexSans-SemiBold.ttf");
}

@font-face {
  font-family: "IBMPlexSans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/IBMPlexSans-Regular.ttf");
}

@font-face {
  font-family: "IBMPlexSans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/IBMPlexSans-Italic.ttf");
}

:root {
  --font-heading: "IBMPlexSansBold";
  --font-base: "IBMPlexSans";
  --primary-color: #0c0a09;
  --secondary-color: #f7f7f7;
  --code-bg: #d3c7c8;
}

html,
header,
body,
section,
article {
  /* background-color: var(--secondary-color); */
  color: #0c0a09;
}

h1,
h2,
h3 {
  font-family: var(--font-heading), system-ui, sans-serif;
  color: var(--primary-color);
}

h1 {
  @apply text-7xl font-black;
}

h2 {
  @apply text-6xl font-black;
}

h3 {
  @apply text-3xl font-black;
}

p,
a,
li,
button,
span {
  @apply text-3xl;
  font-family: var(--font-base), system-ui, sans-serif;
  color: var(--primary-color);
}

a {
  @apply underline text-3xl;
  color: var(--primary-color);
}

header {
  background-color: var(--secondary-color);
}

#menu-list li a {
  @apply text-2xl;
}

main {
  background-image: url("/img/bg-motif.svg");
  background-repeat: no-repeat;
  background-position: top right;
}

main section {
  /* @apply border border-black; */
}

img {
  height: auto;
}

main a {
  border-bottom-style: inset;
  box-shadow: inset 0 -2px 0 white;
}

main a:hover {
  background: white;
  border-bottom-style: inset;
  border-bottom: 4px solid white;
  transition: background 0.25s;
}

pre {
  @apply mb-4 rounded-md px-1 border-t-8 border-[#442f32];
  background: var(--code-bg);
  color: var(--primary-color);
  display: inline-block;
  overflow-x: scroll;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

pre code {
  @apply text-lg py-4 px-2;
  font-family: monospace;
  text-wrap: wrap;
}

code {
  @apply text-lg;
  background: #d3c7c8;
  color: var(--primary-color);
  display: inline-block;
}

article ul {
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.blog ul {
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 1.25rem;
}

.blog ul li h3 {
  margin-left: -0.25rem;
}

blockquote {
  @apply ml-8 my-8;
}

/* Page and Post specific styles */

main article.post {
  @apply py-8 my-4 bg-transparent;
  /* border-color: #978c8d; */
}

.post h2,
.page h2 {
  @apply mt-8 mb-4;
}

.post p,
.page p,
.page li,
.post li,
main p,
main a,
main li,
footer li {
  @apply mb-6;
  line-height: 1.25;
}

.post h3,
.page h3 {
  @apply mt-8 mb-4;
}

/* Homepage styles */

a.site-title {
  @apply font-semibold text-4xl no-underline;
  font-family: var(--font-heading), system-ui, sans-serif;
}

.page-heading {
  background: var(--secondary-color);
  width: 100%;
}

.about-description a {
  @apply text-3xl;
}

article img,
article .post img {
  @apply mb-6 rounded-md w-full;
  max-width: 600px;
}

.post-img {
  @apply mb-6 rounded-md w-full;
  max-width: 600px;
}

/* Responsive styles */

@media (max-width: 640px) {
  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  header {
    @apply pt-6 pb-4;
  }

  .about-description p,
  .about-description a {
    @apply text-xl;
  }

  .header-border {
    border-bottom: 1px solid #c3abac;
  }

  a.site-title {
    @apply text-4xl;
  }
}
