@tailwind base;
@tailwind components;
@tailwind utilities;
@import "/assets/fonts/fonts.css";

:root {
  --font-base: "IBMPlexSans";
  --font-mono: "IBMPlexMono";
}

/* Base Styles */

html,
header,
body,
section,
article {
  @apply text-stone-800;
}

h1,
h2,
h3 {
  @apply font-bold text-stone-800 dark:text-orange-50;
  font-family: var(--font-base), system-ui, sans-serif;
}

h1 {
  @apply text-7xl;
}

h2 {
  @apply text-6xl;
}

h3 {
  @apply text-3xl;
}

p,
a,
li,
button,
span {
  @apply text-3xl text-stone-800 dark:text-orange-50;
  font-family: var(--font-base), system-ui, sans-serif;
}

a {
  @apply underline text-3xl text-stone-800 dark:text-orange-50;
}

header {
  @apply bg-stone-100 border-b border-stone-200 dark:bg-stone-900 dark:border-stone-700;
}

header nav ul li a {
  @apply text-2xl py-2 px-4 bg-stone-100 rounded-md no-underline dark:bg-stone-900;
}

header nav ul li a:hover {
  @apply bg-stone-200 dark:bg-stone-800;
}

header nav ul li a.current-link {
  @apply bg-stone-200 dark:bg-stone-800;
}

main,
footer {
  @apply dark:bg-stone-900;
}

main article h2 {
  @apply mt-16 mb-4;
}

img {
  height: auto;
}

main a {
  @apply text-orange-700 dark:text-orange-500;
}

main a:hover {
  @apply text-orange-800 dark:text-orange-400;
}

footer a:hover {
  @apply text-orange-800 dark:text-orange-400;
}

pre {
  @apply mb-4 rounded-md p-4 inline-block w-full bg-stone-800 text-slate-100 overflow-x-scroll dark:bg-stone-900;
  font-family: var(--font-mono), monospace;
  -webkit-overflow-scrolling: touch;
}

pre code {
  @apply text-2xl;
}

p code {
  @apply inline-block text-2xl bg-stone-200 px-1 rounded-sm dark:bg-stone-700;
  font-family: var(--font-mono), monospace;
}

main ul,
article ul {
  @apply list-outside list-disc ml-6 my-12;
}

li::marker {
  @apply text-orange-700 dark:text-orange-600;
}

main h3 {
  @apply mt-8 mb-4;
}

main p,
main a,
main li,
footer li {
  @apply mb-6 leading-snug;
}

article img {
  @apply mb-6 rounded-md shadow-md w-full max-w-xl;
}

blockquote {
  @apply ml-8 my-8;
}

b,
strong {
  @apply font-bold;
}

/* Custom Style */

.font-mono {
  font-family: var(--font-mono), monospace, sans-serif;
}

.bg-secondary {
  @apply bg-stone-100 dark:bg-stone-900;
}

.skip-link {
  @apply absolute inline-block opacity-0 -z-10 top-2.5 sm:top-3.5;
}

.skip-link:focus {
  @apply opacity-100 z-10;
}

.about-description a {
  @apply text-3xl;
}

.description,
.description a {
  @apply text-stone-600 dark:text-orange-50;
}

/* Responsive Styles */

@media (max-width: 640px) {
  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  header {
    @apply pt-6 pb-4;
  }

  p,
  a,
  li,
  button,
  span,
  .about-description p,
  .about-description a {
    @apply text-2xl;
  }
}
